.but{
    position: fixed;
	right: 10px;
	bottom: 30px;
	left: 750px;
	top: 220px;
	width: auto;
}
a {
	text-decoration: none;
	color: white;
}
.buttons{
    display: flex;
    align-items: center;
}
button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.btnText{
    font-size: 14px;
    font-weight: 400;
}
button:hover{
    background-color: #265df2;
}
.backBtn i{
    margin: 0 6px;
}
button i,
.backBtn i{
    transform: rotate(180deg);
}


.buttons button , .backBtn{
    margin-right: 14px;
}

/*body{
    font-family: sans-serif;
    background: linear-gradient(to right, #02aab0, #00cdac);
    height: 100vh;
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: #fffc00;
    margin: 100px;
}*/
.box{
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.button{
    font-size: 2em;
    font-weight: bolder;
    padding: 40px 80px;
    color: #fff;
    border: 2px solid #fffc00;
    border-radius: 70px;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(to right, #ed4264, #ffedbc);
    border: 5px solid #fffc00;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 600ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.popup{
    position: relative;
    margin: 80px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    width: 40%;
    transition: all 3s ease-in-out;
}
.popup h2{
    margin-top: 0;
}
.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 400ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.popup .close:hover{
    color: #06d85f;
}
.popup .content{
    max-height: 30%;
    overflow: auto;
}
@media screen and (max-width: 800px){
    .box{
        width: 60%;
    }
    .popup{
        width: 60%;
    }
}
a {
	text-decoration: none;
	color: white;
}
.buttons{
    display: flex;
    align-items: center;
}
button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.btnText{
    font-size: 14px;
    font-weight: 400;
}
button:hover{
    background-color: #265df2;
}
.backBtn i{
    margin: 0 6px;
}
button i,
.backBtn i{
    transform: rotate(180deg);
}


.buttons button , .backBtn{
    margin-right: 14px;
}